{% extends "base.html" %}

{% block title%} Dashboard {% endblock title%}

{% block body%}

<div class="pcoded-main-container">
    <div class="pcoded-wrapper">
        <div class="pcoded-content">
            <div class="pcoded-inner-content">
                <!-- [ breadcrumb ] start -->

                <!-- [ breadcrumb ] end -->
                <div class="main-body">
                    <div class="page-wrapper">

                        <!-- ======== the alert box ========= -->
                        {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }} alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <h4><i class="icon fa fa fa-check"></i> Status </h4>
                                <strong>{{ message }}</strong> 
                            </div>
                        {% endfor %}
                        {% endif %}
                        <!-- ========= end alert ============= -->

                        <!-- [ Main Content ] start -->
                        <div class="row">
                            <!--[ daily sales section ] start-->
                            <div class="col-md-6 col-xl-4">
                                <div class="card daily-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Daily Sales</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 249.95</h3>
                                            </div>

                                            <div class="col-3 text-right">
                                                <p class="m-b-0">67%</p>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ daily sales section ] end-->
                            <!--[ Monthly  sales section ] starts-->
                            <div class="col-md-6 col-xl-4">
                                <div class="card Monthly-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Monthly Sales</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-down text-c-red f-30 m-r-10"></i>$ 2.942.32</h3>
                                            </div>
                                            <div class="col-3 text-right">
                                                <p class="m-b-0">36%</p>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme2" role="progressbar" style="width: 35%;" aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ Monthly  sales section ] end-->
                            <!--[ year  sales section ] starts-->
                            <div class="col-md-12 col-xl-4">
                                <div class="card yearly-sales">
                                    <div class="card-block">
                                        <h6 class="mb-4">Yearly Sales</h6>
                                        <div class="row d-flex align-items-center">
                                            <div class="col-9">
                                                <h3 class="f-w-300 d-flex align-items-center  m-b-0"><i class="feather icon-arrow-up text-c-green f-30 m-r-10"></i>$ 8.638.32</h3>
                                            </div>
                                            <div class="col-3 text-right">
                                                <p class="m-b-0">80%</p>
                                            </div>
                                        </div>
                                        <div class="progress m-t-30" style="height: 7px;">
                                            <div class="progress-bar progress-c-theme" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--[ year  sales section ] end-->
                        </div>
                        <div class="row">
                             <!-- [ Morris Chart ] start -->
                            <!--<div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Line [ Angle ] Chart</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="morris-area-chart" style="height:300px"></div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Must vs Need vs Want</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="morris-bar-chart" style="height:300px"></div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Category wise total expense</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="morris-donut-chart" style="height:300px"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Area [ Smooth ] Chart</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="morris-area-curved-chart" style="height:300px"></div>
                                    </div>
                                </div>
                            </div> 
                            <!-- <div class="col-xl-6">
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Line [ Angle ] Chart</h5>
                                    </div>
                                    <div class="card-block">
                                        <div id="morris-line-chart" class="ChartShadow" style="height:300px"></div>
                                    </div>
                                </div>
                            </div> -->

                             <!-- [ Morris Chart ] Ends -->


                            

                            <!-- [ statistics year chart ] start -->
                            
                            <!-- [ statistics year chart ] end -->
                            <!--[social-media section] start-->
                            
                            
                            
                            <!--[social-media section] end-->
                            <!-- [ rating list ] starts-->
                            
                            <!-- [ rating list ] end-->
                            

                        </div>
                        <!-- [ Main Content ] end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{tot_cat_exp_data}}

{{cname_exp_monthwise}}

{% endblock body%}

{% block scripts %}



<script>
   
    $(document).ready(function() {
        setTimeout(function() {
            // [ bar-simple ] chart start
            Morris.Bar({
                element: 'morris-bar-chart',
                data: [

                
                    {
                        y: 'March',
                        a: 0,
                        b: 0,
                        c: 200.0
                    },
                
                    {
                        y: 'April',
                        a: 715.0,
                        b: 915.0,
                        c: 1500.0
                    },
                
                    {
                        y: 'May',
                        a: 0,
                        b: 350.0,
                        c: 0
                    },
                
                    {
                        y: 'June',
                        a: 50.0,
                        b: 0,
                        c: 2550.0
                    },
                

                ],
                xkey: 'y',
                barSizeRatio: 0.70,
                barGap: 3,
                resize: true,
                responsive:true,
                ykeys: ['a', 'b', 'c'],
                labels: ['Must', 'Need', 'Want'],
                barColors: ["0-#1de9b6-#1dc4e9", "0-#899FD4-#A389D4", "#04a9f5"]
            });
            // [ bar-simple ] chart end

            // [ Donut-chart ] Start
            var graph = Morris.Donut({
                element: 'morris-donut-chart',
                data: [

                
                    {
                        value: 765.00,
                        label: 'groceries'
                    },
                
                    {
                        value: 4250.00,
                        label: 'Travel'
                    },
                
                    {
                        value: 1265.00,
                        label: 'Books'
                    },
                
                    {
                        value: 0.0,
                        label: 'Utility bills'
                    },
                

                ],
                colors: [
                    '#1de9b6', '#A389D4', '#04a9f5', 'orange', '#1dc4e9', 'red'
                ],
                resize: true,
                formatter: function(x) {
                    return "val : " + x
                }
            });  

            // [ Donut-chart ] end
            
            
           Morris.Area({
                element: 'morris-area-curved-chart',
                data: [
                
                {
                    period: '2024-03',
                    
                    Books: 0,
                    
                    Travel: 200.0,
                    
                    'Utility bills': 0,
                    
                    groceries: 0,
                    
                },
                
                {
                    period: '2024-04',
                    
                    Books: 915.0,
                    
                    Travel: 1500.0,
                    
                    'Utility bills': 0,
                    
                    groceries: 715.0,
                    
                },
                
                {
                    period: '2024-05',
                    
                    Books: 350.0,
                    
                    Travel: 0,
                    
                    'Utility bills': 0,
                    
                    groceries: 0,
                    
                },
                
                {
                    period: '2024-06',
                    
                    Books: 0,
                    
                    Travel: 2550.0,
                    
                    'Utility bills': 0,
                    
                    groceries: 50.0,
                    
                },
                
                ],
                lineColors: ['#A389D4', '#1de9b6', '#04a9f5'],
                xkey: 'period',
                ykeys: [
                
                'Books',
                
                'Travel',
                
                'Utility bills',
                
                'groceries',
                
                ],
                labels: [
                
                'Books',
                
                'Travel',
                
                'Utility bills',
                
                'groceries',
                
                ],
                pointSize: 0,
                lineWidth: 0,
                resize: true,
                fillOpacity: 0.9,
                responsive:true,
                behaveLikeLine: true,
                gridLineColor: '#d2d2d2',
                hideHover: 'auto'
            });
            // [ area-smooth-chart ] end

        }, 700);
    });



</script>

{% endblock scripts %}